<div class="three columns pull-nine">

  <dl class="nice vertical tabs">
    <%= tab :index, 'What is this?' %>
    <%= tab :in_general %>
    <%= tab :exercise_1 %>
    <%= tab :exercise_2 %>
    <%= tab :exercise_3 %>
  </dl>

</div>

