
<div class="row">
  <div class="nine columns push-three">

    <ul class="tabs-content">
      <li id="what_is_thisTab" class="active">
        <h4>What is this?</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </li>

      <li id="in_generalTab">
        <h4>In General</h4>
        <p>
          In all of these exercises: the teacher crosses, and the student passes straight. At each step, especially the first, give feedback on passes, focussing on what works, and one thing to change to improve that throw. If passes get rough, go back to the previous exercise to solidify muscle memory.
        </p>
        <p>
          In general, if a step is difficult for the student, you can just work on one side for a while, but don't move on I the next step until both sides are proficient.
        </p>
      </li>

      <li id="exercise_1Tab">
        <h4>Exercise 1</h4>
        <div class="row">
          <div class="seven columns">
            <p>
              The first exercise is 3 club ultimates. Lofty singles, just throw to the empty hand. Only one throw at a time. This one is to learn the basic pass with each hand.
            </p>
          </div>
          <div class="five columns">
            <%= image_tag 'exercise_1.gif' %>
          </div>
        </div>

        <h4>Exercise 1b</h4>
        <div class="row">
          <div class="seven columns">
            <p>
              3 clubs, student starts with two, teach throws first pass, student learns to react with a pass. This exercise is mostly about timing, and continuing to throw good passes while having another club come in.
            </p>
            <a href="#exercise_2" class="medium secondary button right">Next &raquo;</a>
          </div>
          <div class="five columns">
            <%= image_tag 'exercise_1b.gif' %>
          </div>
        </div>
      </li>



      <li id="exercise_2Tab">

        <h4>Exercise 2</h4>
        <div class="row">
          <div class="seven columns">
            <p>
              Exercise 2: 4 clubs. This is the first 4 throws of 5 ultimates; this is easier than 5 club ultimates because there is a pause. One club starts in each hand. There are four possible starts (one from each hand), and I find that because it can be confusing to switch between them, this exercise works well focusing on each start at a time. Begin with the student starting, and have them switch to the other side as soon as they feel comfortable with the first. Instruct them to start on either side until they are comfortable with both. (note: as the teacher, reacting to either side in this exercise can be mildly confusing at first. It's not hard, just make sure to try it a few times so you know what's up).
            </p>
          </div>
          <div class="five columns">
            <%= image_tag 'exercise_2a.gif' %>
          </div>
        </div>

        <h4>Exercise 2b</h4>
        <div class="row">
          <div class="seven columns">
            <p>
              Exercise 2b: same as before, but now with the teacher starting. Stick to one side at a time, and let the student know before switching. Move on when you can consistently catch all four throws from both sides. Review exercise 1b if you think it might be helpful.
            </p>
          </div>
        </div>

        <h4>Exercise 2c</h4>
        <div class="row">
          <div class="seven columns">
            <p>
              Exercise 2c: 4 clubs, same pattern, always start with the same club. This basically cycles through all four starts.
            </p>
          </div>
          <div class="five columns">
            <%= image_tag 'exercise_2b.gif' %>
          </div>
        </div>

      </li>




      <li id="exercise_3Tab">
        <h4>Exercise 3</h4>
        <div class="row">
          <div class="seven columns">
            <p>
              Exercise 3: 5 club ultimates. This is passing!
            </p>
          </div>
          <div class="five columns">
            <%= image_tag 'exercise_3.gif' %>
          </div>
        </div>
      </li>
    </ul>

  </div>
  <div class="three columns pull-nine">

    <dl class="nice vertical tabs">
      <dd class="active"><a href="#what_is_this">What is this?</a></dd>
      <dd><a href="#in_general">In General</a></dd>
      <dd><a href="#exercise_1">Exercise 1</a></dd>
      <dd><a href="#exercise_2">Exercise 2</a></dd>
      <dd><a href="#exercise_3">Exercise 3</a></dd>
    </dl>

  </div>
</div>
