<!DOCTYPE html>
<html>
<head>
  <title>Passing Pedagogy</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'header' %>

  <div class="row">
    <div class="nine columns push-three">
      <ul class="tabs-content">
        <%= yield %>
      </ul>
    </div>
    <%= render 'nav' %>
  </div>
  <%= render 'footer' %>
  <%= render 'javascripts' %>
</body>
</html>
